/* General starts*/
*{ 
    margin: 0;
    padding: 0;
    font-family: 'Roboto Thin', sans-serif;
    box-sizing: border-box;
}
/* General ends*/

/* Header starts*/
header { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
}

.nav_links { 
    list-style: none;
}

.nav_links li { 
    display: inline-block;
    padding: 0px 20px;
}

.nav_links a { 
    text-decoration: none;
    color: #000;
}

.elements { 
    margin-left: auto;
}

.elements img { 
    height: 30px;
}

.menu { 
    height: 30px;
}

.logo { 
    margin-left: auto;
    margin-right: auto;
    height: 20px;
}
/* Header ends*/

/* Main starts*/
main { 
    padding: 30px 30px;
}

.comersial_image { 
    width: 100%;
}

.recomended { 
    padding: 100px 0px 100px 0px;
}

.recomended_products_header { 
    text-align: center;
    padding: 0px 0px 100px 0px;
}

.recomended_products { 
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.recomended_products li{ 
    list-style: none;
}
.recomended_products a{ 
    text-decoration: none;
    color: #000;
}


/* Topical starts*/

.topical_products_header { 
    text-align: center;
    padding: 0px 0px 100px 0px;
}
.topical {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1em 1em;
}

.item-1 {
    position: relative;
	grid-area: 1 / 1 / 3 / 2;
    width: 20%;
}

.item-2 {
    position: relative;
	grid-area: 1 / 2 / 2 / 3;
}

.item-3 {
    position: relative;
	grid-area: 2 / 2 / 3 / 3;
}

.topical .item-1  .item-1_btn {
    position: absolute;
    top: 70%;
    left: 50%;
    background-color: #000000;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.topical .item-2  .item-2_btn {
    position: absolute;
    top: 70%;
    left: 70%;
    background-color: #000000;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.topical .item-3  .item-3_btn {
    position: absolute;
    top: 70%;
    left: 70%;
    background-color: #000000;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* Topical ends*/

/* Reviews starts*/
.reviews_header { 
    text-align: center;
    padding: 100px 0px 100px 0px;
}

.reviews { 
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.reviews .text-1 { 
    position: relative;
}

.reviews .text-1 .item-1_text { 
    position: absolute;
    top: 20%;
    padding-left: 30px;
    padding-right: 30px;
}
.reviews .text-1 .item-1_mail { 
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reviews .text-2 { 
    position: relative;
}

.reviews .text-2 .item-2_text { 
    position: absolute;
    top: 20%;
    padding-left: 30px;
    padding-right: 30px;
}
.reviews .text-2 .item-2_mail { 
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Reviews ends*/
/* Main ends*/

/* Footer starts*/

footer { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
}

.footer {
    position:relative;
    width: 100%;
}

.footer h1 { 
    position: absolute;
    top: 20%;
    padding: 0px 30px;
}

.footer p { 
    position: absolute;
    top: 30%;
    padding: 0px 30px;
}

.form { 
    display: flex;
    position: absolute;
    top: 40%;
    padding: 0px 30px;
}

.form input {  
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    width: 280px;
    height: 50px;
    font-size: 30px;
    margin: 0px 30px 0px 0px;
}

.form button {
    background-color: #000000;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* Footer ends*/